.pointerdialog{
  position: absolute;
  background-color: rgb(24,72,99,0.7);
  padding: 0.5rem;
  font-weight: bold;
  color: white;
  display: none;
  
}

.gradient{
  padding: 20px;
  z-index: -99;
  position: absolute;
  background: rgb(24,72,99);
  background: -moz-linear-gradient(90deg, rgba(24,72,99,1) 0%, rgba(26,97,136,0.8253676470588236) 100%);
  background: -webkit-linear-gradient(90deg, rgba(24,72,99,1) 0%, rgba(26,97,136,0.8253676470588236) 100%);
  background: linear-gradient(90deg, rgba(24,72,99,1) 0%, rgba(26,97,136,0.8253676470588236) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#184863",endColorstr="#1a6188",GradientType=1);
}

.clickable{
  height: 80px;
}

.highlight-hover:hover{
  background-color: rgba(24,72,99,0.4);
}

.email{
  font-weight: bold;
}
.email:hover{
  color: #8dce83;
}

.telephone{
  font-weight: bold;
}
.telephone:hover{
  color: #83ceb8;
}

.linkedin{
  font-weight: bold;
}
.linkedin:hover{
  color: #838fce;
}